@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #554f95;
  --bg: #282828;
  --secondary: #1c1c1c;
  --third: #91c870;
}

.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 50px;
  width: auto;
  align-items: center;
  justify-items: center;
  margin: 50px;
}
.movieList img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.buyTicket {
  background-color: var(--accent);
  width: 100%;
  color: #ffffff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
